html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: linear-gradient(bottom, #FFFFFF 7%, #A1A1A1 54%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 7%, #A1A1A1 54%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 7%, #A1A1A1 54%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 7%, #A1A1A1 54%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 7%, #A1A1A1 54%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.07, #FFFFFF
		), color-stop(0.54, #A1A1A1) );
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header {
	padding: 0px;
}

#content {
	padding: 0px;
	padding-bottom: 0px; /* Height of the footer element */
}

#footer {
	width: 100%;
	height: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #ee5;
}

/* ---- Login ---- */
#login-box {
	width: 302px;
	height: 330px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -165px;
	margin-left: -151px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 50% 10%;
	padding-top: 239px;
}

#login-messages{
	width: 100%;
	padding:2px;
	height: 16px;
	font: bold 14px Tahoma, Geneva, sans-serif;
	text-align: center;
	color: red;
	margin-top:px;
}

#login-form {
	float: left;
	width: 282px;
	height: 65px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
}

#login-box-name {
	float: left;
	display: inline;
	width: 80px;
	height: 16px;
	padding: 1px;
	text-align: left;
	margin-bottom: 2px;
	vertical-align: middle;
	font: bold 14px Tahoma, Geneva, sans-serif;
	color: #555555;
}

#login-box-field {
	float: left;
	margin-bottom: 2px;
	display: inline;
	width: 200px;
	height: 18px;
}

.form-login {
	width: 195px;
	height: 14px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	font: 14px Tahoma, Geneva, sans-serif;
}

#login-box-button {
	float: left;
	width: 280px;
	height: 14px;
}

.login-button {
	width: 90px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	font: 14px Tahoma, Geneva, sans-serif;
	color: #555555;
}

.login-button:hover {
	background-color: #A1A1A1;
	color: #ffffff;
}

/* --- menu --- */

#Project-selection {
	float: left;
	color: rgb(160, 160, 160);
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	width: 120px;
	margin: 10px 10px;
	-webkit-transition: color .15s;
	-moz-transition: color .15s;
	-o-transition: color .15s;
	transition: color .15s;
	color: rgb(160, 160, 160);
}

#cssmenu ul {
	margin: 0;
	padding: 0;
}

#cssmenu li {
	margin: 0;
	padding: 0;
}

#cssmenu a {
	margin: 0;
	padding: 0;
}

#cssmenu ul {
	list-style: none;
}

#cssmenu a {
	text-decoration: none;
}

#cssmenu {
	height: 40px;
	background-color: rgb(35, 35, 35);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
}

#cssmenu>ul>li {
	float: left;
	/*margin-left: 15px;*/
	position: relative;
}

#cssmenu>ul>li>a {
	color: rgb(160, 160, 160);
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 40px;
	padding: 15px 20px;
	-webkit-transition: color .15s;
	-moz-transition: color .15s;
	-o-transition: color .15s;
	transition: color .15s;
}

#cssmenu>ul>li>a:hover {
	color: rgb(250, 250, 250);
}

#cssmenu>ul>li>ul {
	opacity: 0;
	visibility: hidden;
	padding: 16px 0 20px 0;
	background-color: rgb(250, 250, 250);
	text-align: left;
	position: absolute;
	top: 55px;
	left: 50%;
	margin-left: -90px;
	width: 180px;
	-webkit-transition: all .3s .1s;
	-moz-transition: all .3s .1s;
	-o-transition: all .3s .1s;
	transition: all .3s .1s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
}

#cssmenu>ul>li:hover>ul {
	opacity: 1;
	top: 65px;
	visibility: visible;
}

#cssmenu>ul>li>ul:before {
	content: '';
	display: block;
	border-color: transparent transparent rgb(250, 250, 250) transparent;
	border-style: solid;
	border-width: 10px;
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -10px;
}

#cssmenu>ul ul>li {
	position: relative;
}

#cssmenu ul ul a {
	color: rgb(50, 50, 50);
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	background-color: rgb(250, 250, 250);
	padding: 5px 8px 7px 16px;
	display: block;
	-webkit-transition: background-color .1s;
	-moz-transition: background-color .1s;
	-o-transition: background-color .1s;
	transition: background-color .1s;
}

#cssmenu ul ul a:hover {
	background-color: rgb(240, 240, 240);
}

#cssmenu ul ul ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: -16px;
	left: 206px;
	padding: 16px 0 20px 0;
	background-color: rgb(250, 250, 250);
	text-align: left;
	width: 160px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
}

#cssmenu ul ul>li:hover>ul {
	opacity: 1;
	left: 196px;
	visibility: visible;
}

#cssmenu ul ul a:hover {
	background-color: rgb(205, 44, 36);
	color: rgb(240, 240, 240);
}