html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	box-shadow:inset 0px 0px 30px 20px rgba(0,0,0,0.6);
	background-image:url('images/background.png');
	background-repeat:repeat;
}


/* ---- form ----*/
dl {clear: both;}
dt {float: left;text-align: right;width: 120px;line-height: 25px;margin: 0 0 0 0;}
dd {float: left;width: 120px;line-height: 25px;margin: 0 0 0 0;}

.form-button {width:251px;clear:both;margin: 0 auto 0 auto;}
.form-message {color:red;height:16px;clear:both;text-align:center;margin: 0 auto 0 auto;}
.form-name {clear:both;text-align: center;}
.logo{}

.main-menu{clear: both;margin:10px 10px 0 10px;}
.main-menu-right{clear: both;float: right;}

.menu-project{clear: both;float: right;}
.des-project{clear: both;word-wrap: break-word;margin:45px 0 0 0;};
